{"id":"EventStore_3.0.0-rc7","version":"3.0.0-rc7","name":"EventStore","units":[{"name":"eventstorehost","packages":[{"lib":"SimpleIdentityServer.EventStore.Host","version":"3.0.0-rc7","category":"host","parameters":null}]},{"name":"eventstorerepository","packages":[{"lib":"SimpleIdentityServer.EventStore.InMemory","version":"3.0.0-rc7","category":"store","parameters":null},{"lib":"SimpleIdentityServer.EventStore.Postgre","version":"3.0.0-rc7","category":"store","parameters":null},{"lib":"SimpleIdentityServer.EventStore.Sqlite","version":"3.0.0-rc7","category":"store","parameters":null},{"lib":"SimpleIdentityServer.EventStore.SqlServer","version":"3.0.0-rc7","category":"store","parameters":null}]}]}