<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>SimpleIdentityServer feed</title>
    </head>
    <body>
        <div>
            <h1>SimpleIdentityServer feed server</h1>
            <p>Click <a href="@Url.Action("Index", "Projects")">here</a> to view the projects</p>
        </div>
    </body>
</html>