<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPEID website</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css">
    <script src="~/dist/vendor.js"></script>
</head>
<body class="inami">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
